*{
  padding: 0;
  margin: 0;
}

nav {
  background: linear-gradient(to right, #0de7a2, #de4b63); /* Define the gradient */
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  
}

#logo img {
 
  border-radius: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
  color: darkblue;
  
}

.icons {
  display: flex;
  align-items: center;
  text-align: center;

}

.icons a {
  margin-right: 10px;
}

.icons i {
  font-size: 18px;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
 
}

.icons a {
  margin-right: 30px;
}

.icons i {
  font-size: 18px;
}
footer {
  background-color: #333;
  color: black;
  padding: 15px;
  text-align: center;
  height: 50px;
  background-color: lavenderblush;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.footer-left {
  text-align: left;
}

.footer-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-right li {
  display: inline-block;
  margin-right: 10px;
}

.footer-right a {
  color: black;
  text-decoration: none;
}

.footer-right a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom p {
  margin-right: 10px;
}

.footer-bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer-bottom li {
  margin-right: 10px;
}

.footer-bottom a {
  color: black;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom i {
  font-size: 18px;
}

main {
margin-top: 40px;
}

.product-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.product-item {
  width: 200px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}

.product-item img {
  width: 100%;
  height: auto;
}

.product-item h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.product-item p {
  margin-bottom: 20px;
}

.add-to-bag {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-bag:hover {
  background-color: darkgreen;
}
.add-to-bag:active{
  background-color: red;
}
body {
  background-color: thistle;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#upper{
  text-transform: uppercase;
  font-weight: 300;
  margin-left: 100px;
  font-weight: 500;
}

h5{
  text-align: center;
  margin-top: 0px;
}

#logo-image{
  width: 100px;
  border-radius: 2px;
 background-color: pink;
}

#heading{
  font-size: 20px;
  text-decoration: solid;
  font-weight: bold;
}

#heading:hover{
  border-bottom: 2px solid darkblue;
  padding-bottom: 20px;
  
}

#price{
  margin: 5px 0px;
  font-weight: bold;
}

#icon-name{
 
  font-size: 15px;
  margin-left: -12px;
  margin-top: 5px;
  margin-right: -10px;
 
}
.bag-item-count{
  background-color: darkblue;
  color: white;
  padding: 3px;
  border-radius: 10px;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 14px;
  top: -40px;
text-align: center;
}

#item{
  height: 200px;
  width: 60%;
  border: 1px solid black;
  margin: 20px 20%;
  background-color: white;  
  display: inline-block;
  
 
  
}

#bag-text{
  text-align: center;
}

#item-image {
  width: 20%;
  height: auto;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  border-right: 1px solid black;
 
}
#item-company, #item-name, #item-price{
  margin-left: 25%;
  padding: 10px 15px;

  
}
#item-company{
  margin-top: -21%;
 

}










.bag-items-container {
  display: inline-block;
  width: 100%;
  padding-right: 20px;
  
  padding-top: 32px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-page {
  width: 75%;
  margin-left: 12.5%;
}

.bag-summary {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  padding: 24px 0 0 16px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-details-container {
  margin-bottom: 16px;
  
}

.price-header {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}

.price-item {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #282c3f;
}

.price-item-value {
  float: right;
}

.priceDetail-base-discount {
  color: #03a685;
}

.price-footer {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}

.btn-place-order {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 40px;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(63, 255, 197);
  color: rgb(13, 13, 13);
  cursor: pointer;
}

.btn-place-order:active{
  color: red;
}

.bag-item-container {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.item-left-part {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}

.item-right-part {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}

.bag-item-img {
  width: 100%;
}

.return-period {
  display: inline-flex;
  font-size: 14px;
  padding-top: 8px;
}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
}

.delivery-details {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.delivery-details-days {
  color: #03a685;
}

.remove-from-cart {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 30px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.continue-shop{
text-decoration: none;
color: blue;
}
.continue-shop:hover{
  text-decoration: underline;
}